<article class="row">
  <div class="column small-12">
    <h1>New Session for {{parent.model.title}}</h1>
    <form {{action 'create' on='submit'}}>
      <div class="row">
        <div class="column small-12 medium-8 large-4">
          {{#fd-input error=errors.title label='Session Title'}}{{input value=title type='text'}}{{/fd-input}}
        </div>
      </div>
      <div class="row">
        <div class="column small-12 medium-8 large-4">
          {{#fd-input error=errors.dice-roller label='Dice Roller'}}
            <select onchange={{action (mut dice-roller) value='target.value'}}>
              <option value="" selected={{eq dice-roller ''}}>--- Please select ---</option> 
              <option value="d20" selected={{eq dice-roller 'd20'}}>D20</option>
              <option value="eote" selected={{eq dice-roller 'eote'}}>Edge of the Empire</option>
            </select>
          {{/fd-input}}
        </div>
      </div>
      <div class="row">
        <div class="column small-12 medium-8 large-4 text-right">
          {{#link-to 'games.game.index' parent.model.id class='button secondary'}}Don't Add{{/link-to}}
          <input type="submit" value="Add" class="button"/>
        </div>
      </div>
    </form>
  </div>
</article>