<div class="row">
  <h3 class="small-8 column">{{character.title}}</h3>
  <div class="small-4 column text-right">
    {{#if allow_delete}}
      <a {{action 'delete-character' character}} class="button small alert">Delete</a>
    {{/if}}
  </div>
</div>
{{#fd-accordion}}
  {{#each stat_table in character.stats}}
    {{#fd-accordion-item data-tab-id=stat_table.id action='refresh-tabs'}}
      {{fd-accordion-item-header action='select-tab' target-id=stat_table.id title=stat_table.title}}
      {{#fd-accordion-item-body}}
        <table class="small-12">
          <thead>
            <tr>
              {{#each column in stat_table.columns}}
                <th>{{column}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each stat_row in stat_table.rows}}
              <tr>
                {{#if stat_row.has_action}}
                  <th {{action 'default_action' character stat_row}} class="clickable">{{stat_row.title}}</th>
                {{else}}
                  <th>{{stat_row.title}}</th>
                {{/if}}
                {{#each column in stat_row.columns}}
                  <td>
                    {{#if column.editable}}
                      {{#if column.editing}}
                        <div class="row collapse">
                          <div class="column small-8">
                            {{#if column.data_string}}
                              {{#fd-form-field}}{{input type="text" value=column.value}}{{/fd-form-field}}
                            {{/if}}
                            {{#if column.data_number}}
                              {{#fd-form-field}}{{input type="number" value=column.value}}{{/fd-form-field}}
                            {{/if}}
                            {{#if column.data_boolean}}
                              {{#fd-form-field}}{{input type="checkbox" checked=column.value}}{{/fd-form-field}}
                            {{/if}}
                          </div>
                          <div class="column small-2">
                            <a {{action "cs_cancel_edit" column on="click"}} class="button alert postfix"><span class="fi-x"></span></a>
                          </div>
                          <div class="column small-2">
                            <a {{action "cs_save_edit" column character on="click"}} class="button success postfix"><span class="fi-check"></span></a>
                          </div>
                        </div>
                      {{else}}
                        <a {{action 'cs_start_edit' column on='doubleClick'}} class="small-12 inline-block">{{{column.fancy_value}}}</a>
                      {{/if}}
                    {{else}}
                      {{{column.fancy_value}}}
                    {{/if}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/fd-accordion-item-body}}
    {{/fd-accordion-item}}
  {{/each}}
{{/fd-accordion}}