<div class="row">
  <div class="column small-12">
    <div class="float-right">
      <a href="#" {{action 'delete' character}}><span class="fi-trash"></span></a>
      <a href="#" {{action 'reload' character}}><span class="fi-refresh"></span></a>
    </div>
    <h3>{{#if character.title}}{{character.title}}{{else}}Unnamed{{/if}}</h3>
  </div>
</div>
{{#fd-accordion data-options='allowAllClosed: true; slideSpeed: 0;'}}
  {{#each character.stats as |stat_table|}}
    <li class="accordion-item {{if (eq stat_table.id selected-tab) 'is-active'}}" data-accordion-item="">
      <a href="#" class="accordion-title">{{stat_table.title}}</a>
      <div class="accordion-content" data-tab-content="" data-item-id={{stat_table.id}}>
        <table>
          {{#if stat_table.columns}}
            <thead>
              <tr>
                {{#each stat_table.columns as |stat_column|}}
                  <th>{{stat_column}}</th>
                {{/each}}
              </tr>
            </thead>
          {{/if}}
          <tbody>
            {{#each stat_table.rows as |stat_row|}}
              <tr>
                {{#if stat_row.title}}
                  <th>
                    {{#if (and action_handler stat_row.action)}}
                      <a href="#" {{action action_handler 'chat' stat_row.action_title stat_row.action}}>{{stat_row.title}}</a>
                    {{else}}
                      {{stat_row.title}}
                    {{/if}}
                  </th>
                {{/if}}
                {{#each stat_row.columns as |stat_column|}}
                  <td>
                    {{#if stat_column.isEditing}}
                      <div class="input-group">
                        {{#if (eq stat_column.data_type 'string')}}
                          {{input type="text" value=stat_column.value class='input-group-field'}}
                        {{/if}}
                        {{#if (eq stat_column.data_type 'number')}}
                          {{input type="number" value=stat_column.value class='input-group-field'}}
                        {{/if}}
                        {{#if (eq stat_column.data_type 'boolean')}}
                          {{input type="checkbox" checked=stat_column.value class='input-group-field'}}
                        {{/if}}
                        {{#if (eq stat_column.data_type 'text')}}
                          {{textarea value=stat_column.value class='input-group-field' rows='5'}}
                        {{/if}}
                        {{#if (eq stat_column.data_type 'option')}}
                          <select onchange={{action (mut stat_column.value) value='target.value'}}>
                            {{#each stat_column.options as |option|}}
                              <option selected={{eq stat_column.value option}}>{{option}}</option> 
                            {{/each}}
                          </select>
                        {{/if}}
                        <div class="input-group-button">
                          <button {{action 'cancel-edit' character stat_column}} class="button cancel"><span class="fi-x"></span></button><button {{action 'save-edit' character stat_column}} class="button ok"><span class="fi-check"></span></button>
                        </div>
                      </div>
                    {{else}}
                      {{#if stat_column.editable}}
                        <div class="float-right">
                          <a href="#" {{action 'start-edit' character stat_column}}><span class="fi-pencil"></span></a>
                        </div>
                      {{/if}}
                      {{#if (and action_handler stat_column.action)}}
                        <a href="#" {{action action_handler 'chat' stat_column.action_title stat_column.action}}>{{character-sheet-value stat_column.data_type stat_column.value}}</a>
                      {{else}}
                        {{character-sheet-value stat_column.data_type stat_column.value}}
                      {{/if}}
                    {{/if}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </li>
  {{/each}}
{{/fd-accordion}}
