<div class="row">
  <div class="small-12 column">
    <h1>{{model.game.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 column">
    <h2>Sessions</h2>
    {{#if model.game.owned}}
      <div class="text-right">
        {{#link-to 'game.new-session' model.game.id class='button'}}New Session{{/link-to}}
      </div>
    {{/if}}
    {{outlet 'new-session'}}
    <ol class="no-padding no-margin">
      {{#each session in model.game.sessions}}
        <li class="panel">
          {{#if session.joined}}
            {{#link-to 'session' model.game.id session.id}}{{session.title}}{{/link-to}}
          {{else}}
            <a href="#" {{action 'join_session' model.game.id session.id}}>{{session.title}}</a>
          {{/if}}</li>
      {{/each}}
    </ol>
  </div>
  <div class="small-12 medium-6 column">
    {{#if model.game.owned}}
      <h2>Characters</h2>
      <div class="text-right">
        {{#link-to 'game.new-character' model.game.id class='button'}}New Character{{/link-to}}
      </div>
    {{else}}
      <h2>Character</h2>
      {{#unless model.characters}}
        <div class="text-right">
          {{#link-to 'game.new-character' model.game.id class='button'}}New Character{{/link-to}}
        </div>
      {{/unless}}
    {{/if}}
    {{outlet 'new-character'}}
    <ul id="characters" class="no-padding no-margin">
      {{#each character in model.characters}}
        <li class="panel">
          {{character-sheet character=character allow_delete='true'}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
