<div class="row">
  <div class="small-12 column">
    <h1>Games in Progress</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 column">
    <div class="text-right">
      {{#link-to 'games.new' class='button small'}}Start a new Game{{/link-to}}
    </div>
    {{outlet}}
    <ul class="no-padding no-margin">
      {{#each model as |game|}}
        <li class="panel clearfix">
          {{#if game.joined}}
            {{#link-to 'game' game.id}}{{game.title}}{{/link-to}}
          {{else}}
            <div class="right"><a href="#" {{action 'join_game' game.id}} class="button tiny no-margin">Join</a></div>
            {{title}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
