<div id="session-title" class="row wide">
  <h1 class="small-12 column">{{model.session.game.title}} - {{model.session.title}}</h1>
</div>
<div id="session-content" class="row wide">
  <div class="small-4 column full-height autoscroll">
    <ul class="no-padding no-margin">
      {{#each character in model.characters}}
        <li class="panel">
          <h3>{{character.name}}</h3>
          {{character-sheet character=character action='stat-click'}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="small-8 column full-height autoscroll">
    <div class="small-12 column text-right"><a {{action 'new-snapshot'}} class="button small">New Snapshot</a></div>
    <img id="map"/>
  </div>
  <!--
  <div id="snapshot-ui" class="hidden">
    <div class="overlay"></div>
    <div class="dialog">
      <div id="video"></div>
      <div class="buttons"><a {{action 'cancel-snapshot'}} class="button secondary small">Cancel</a><a {{action 'upload-snapshot'}} class="button small">Take Snapshot</a></div>
    </div>
  </div>
  -->
</div>
<div id="chat">
    <ol class="messages">
      {{#each message in model.chats}}
        <li class="row wide">
          <div class="small-4 medium-2 large-1 column display-name">{{message.user.display_name}}</div>
          <div class="small-8 medium-10 large-11 column message">{{message.message}}</div>
        </li>
      {{/each}}
    </ol>
    <form {{action 'new_chat_message' on='submit'}} class="row wide">
      <div class="small-12 column">
        <div class="row collapse">
          <div class="small-12 medium-10 column">{{input id='chat-message-input' value=new_chat_message autocomplete='off'}}</div>
          <div class="small-12 medium-2 column"><input type="submit" value="Say" class="button postfix"/></div>
        </div>
      </div>
    </form>
</div>